.main__banner {
    width: 100%;
    text-align: center;
    background-image: url(imgstil/reef.jpg);
    font-weight: 500;
    background-position-y: 29%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin-top: .3rem;
    border-radius: .5em;
    p {
        font-size: clamp(1rem, 0.286rem + 1.905vw, 2rem);        text-decoration: none;
        color: rgb(214, 245, 255);
         
    }
    &:hover {
        color: $hovercolor;

    }
}

.main__section--video {
    display: flex;
    width: 100%;
    box-sizing: border-box;  
    gap: 5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
    margin-top: .5rem;
    video {
        width: 40%;  
        @include borderstyle();
        border-style: none;
        box-sizing: border-box;
    }
}  

.main__banner--h4 {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%; 
    background-image: url(imgstil/EAGLERAY.JPG);   
    background-size: cover; 
    background-blend-mode: normal;
    background-position-y: 30%; 
    font-size: clamp(0.8rem, -0.057rem + 2.286vw, 2rem);
    font-weight: 600;
    text-decoration: none;
    color: rgb(243, 251, 255);
    @include borderstyle();
    text-align: center;
}
.main__section--nav {
    display: flex;
    flex-direction: column;
    width: 45% ;
    flex-wrap: nowrap;
    align-items: center;
    font-size: clamp(0.8rem, -0.057rem + 2.286vw, 2rem);
    height: 23rem;
    justify-content: space-evenly;
    @include borderstyle ; 
    background-image: url(imgstil/discovering.jpg);   
    background-size: cover; 
    background-blend-mode: normal;
    background-position-y: 27%; 
    opacity: .8;
    .main__nav--a {
        color: $maingrey;
        text-decoration: none; 
        font-weight: 800; 
        padding: .7rem;
        
    }
    }