/*Etiquetas*/
$maincolor: rgb(0, 195, 237);
$maingrey:  rgb(243, 251, 255);
$hovercolor: rgb(242, 158, 1);
$backgroundhover: rgb(245, 245, 245);
$boxshadow: -.5rem -.5rem .7rem -.7rem rgba(0, 0, 0, .30);
$maindarkcolor: rgb(70 130 180);
$maintransparentColor: rgb(0 195 237 / 22%);